.image {
    width: 75px;
    height: 75px;
    background: no-repeat 50%;
    background-position: 0 -75px;
    background-size: 75px;
    cursor: pointer;
}
.main-img {
    width: 1200px;
    height: 546px;
    background-image: url('../images/ditu.png');
    background-size: 1200px;
}